input {
  width: 25%;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}
button {
  border-radius: 5px;
}
input[type=text]:focus {
    background-color: lightblue;
}

.grid {
  display: table;
}
.grid#border {
  border-style: solid;
  border-width: 5px;
}
.row {
  display: table-row
}
.cell {
  width: 50px;
  height: 50px;
  background: white;
  display: table-cell;
  border-style: solid;
  border-width: 0.5px;
}
.cell.numbers {
  background: white;
  text-align: center;
}
.cell.white {
  background: white;
}
.cell.grey {
  background: grey;
}
.cell.black {
  background: black;
}
.cell.cyan {
  background: cyan;
}
